Question1

In [17]:
# 1 Program to print for loop in numbers 1 to 100 in 10 rows

for i in range(10):
    for j in range(1,11):
         print(i*10+j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [47]:
# 2 program to print first 100 even numbers in 10 rows and format perfectly
i = j = x =0
for i in range(10):
    for j in range(1,21):
        x = i*20+j
        if (x % 2 == 0):
            print('{:3d} '.format(x), end=" ")
    print()

  2    4    6    8   10   12   14   16   18   20
 22   24   26   28   30   32   34   36   38   40
 42   44   46   48   50   52   54   56   58   60
 62   64   66   68   70   72   74   76   78   80
 82   84   86   88   90   92   94   96   98  100
102  104  106  108  110  112  114  116  118  120
122  124  126  128  130  132  134  136  138  140
142  144  146  148  150  152  154  156  158  160
162  164  166  168  170  172  174  176  178  180
182  184  186  188  190  192  194  196  198  200

In [56]:
for i in range(1,201):
    if (i % 2 == 0):
        print('{:3d}'.format(i), end = " ")
    if i % 20 == 0:
        print()

  2   4   6   8  10  12  14  16  18  20
 22  24  26  28  30  32  34  36  38  40
 42  44  46  48  50  52  54  56  58  60
 62  64  66  68  70  72  74  76  78  80
 82  84  86  88  90  92  94  96  98 100
102 104 106 108 110 112 114 116 118 120
122 124 126 128 130 132 134 136 138 140
142 144 146 148 150 152 154 156 158 160
162 164 166 168 170 172 174 176 178 180
182 184 186 188 190 192 194 196 198 200

In [1]:
# 3 Program to return true if prime number else return false

def isprime(num):
    i = 0
    if num <= 0:
        print("Wrong Number inputted")
        return False
    if num == 1:
        return("1 is a prime")
    for i in range(2,num+1):
        if i == num:
            return(True)
        if (num % i == 0):
            return(False)

In [132]:
isprime(73), isprime(99), isprime(64), isprime(59)

(True, False, False, True)

In [133]:
isprime(1)

'1 is a prime'

In [134]:
isprime(-2)

Wrong Number inputted

False

In [5]:
# 4 program to print prime numbers between 1 and 1000
#row = 1
primecnt = 0
for i in range(2,1000):
    if isprime(i):
        print('{:>3d}'.format(i), end=" ")
        primecnt +=1
        if (primecnt %10 == 0):
            print()
    else:
        continue
print("\n\nThere are ",primecnt, " prime numbers between 1 & 1000")

  2   3   5   7  11  13  17  19  23  29
 31  37  41  43  47  53  59  61  67  71
 73  79  83  89  97 101 103 107 109 113
127 131 137 139 149 151 157 163 167 173
179 181 191 193 197 199 211 223 227 229
233 239 241 251 257 263 269 271 277 281
283 293 307 311 313 317 331 337 347 349
353 359 367 373 379 383 389 397 401 409
419 421 431 433 439 443 449 457 461 463
467 479 487 491 499 503 509 521 523 541
547 557 563 569 571 577 587 593 599 601
607 613 617 619 631 641 643 647 653 659
661 673 677 683 691 701 709 719 727 733
739 743 751 757 761 769 773 787 797 809
811 821 823 827 829 839 853 857 859 863
877 881 883 887 907 911 919 929 937 941
947 953 967 971 977 983 991 997

There are  168  prime numbers between 1 & 1000

In [155]:
#5 Program to Convert deg C to deg F
def CtoF(num):
    c = num
    f = 0
    #C = 5/9(F-32)
    f =(9/5) * c + 32
    print("The temperature {:6.2f}C is = {:6.2f}F ".format(c,f) )
    return

In [156]:
CtoF(32)

The temperature  32.00C is =  89.60F

In [157]:
CtoF(0)

The temperature   0.00C is =  32.00F

In [158]:
CtoF(25)

The temperature  25.00C is =  77.00F

In [161]:
CtoF(-17)

The temperature -17.00C is =   1.40F

In [162]:
CtoF(-17.7777778)

The temperature -17.78C is =  -0.00F

In [178]:
# 6 Function to convert F to C
def FtoC(f):
    return(5/9*(f - 32))

In [179]:
FtoC(32)

0.0

In [180]:
FtoC(0)

-17.77777777777778

In [181]:
FtoC(58)

14.444444444444445

In [182]:
FtoC(70)

21.11111111111111

In [183]:
FtoC(68)

20.0

In [193]:
# 7 Convert a list of kilometers to miles
#Conversion: 1 Km = 0.621371 of a Mile. 
mile = 0
kmslist = [10,20,30,40,50]
for i in kmslist:
    mile = i * .621371
    print("{} Kilometers is equal to {} Miles.".format(i,mile))

10 Kilometers is equal to 6.21371 Miles.
20 Kilometers is equal to 12.42742 Miles.
30 Kilometers is equal to 18.64113 Miles.
40 Kilometers is equal to 24.85484 Miles.
50 Kilometers is equal to 31.068550000000002 Miles.

In [196]:
 # 8 Factorial function without recursion

def fact(num):
    prdt = 1
    if num == 1:
        return 1
    elif num<=0:
        return 0
    else:
        for i in range(1,num+1):
            prdt = prdt * i
        return prdt

In [200]:
fact(3), fact(7), fact(1),fact(0), fact(4), fact(5),fact(-3)

(6, 5040, 1, 0, 24, 120, 0)

In [254]:
# 9 Factorial with recursion
def factR(num):
    i =  num
    #prdt = 1
    if num<0:
        return (null)
    while (num>0):
        if (num == 1):
            return (1)
        else:
            prdt = num * factR(num -1)
            num = num - 1
        return (prdt)

In [255]:
factR(4)

24

In [256]:
factR(0)

In [257]:
factR(6)

720

In [258]:
factR(1)

1

In [112]:
# 10 a function toBinary(n) to convert a decimal number into binary number NOT using recurrsion.
def toBinary(quot):
    if (quot<=0):
        return (0)
    elif quot==1:
        return (1)
    stk = []
    while (quot >= 2):
        try:
            rem = quot%2
            quot = quot//2
            stk.append(rem)
            if quot<2:
                stk.append(quot)
                break
        except:
            print("Something Wrong")
    stklen = len(stk)
    stk.reverse()
    tmpstr = ""
    for i in range (stklen):
         tmpstr = tmpstr + str(stk[i])

    return (tmpstr)

In [98]:
toDec(10)

i =  0 c[i] =  1
i =  1 c[i] =  0
6

In [114]:
toBinary(233)

'11101001'

In [113]:
toBinary(100)

'1100100'

In [115]:
toBinary(3)

'11'

In [116]:
for i in range(10):
    print (" Decimal = ", i, " Binary = " ,toBinary(i))

 Decimal =  0  Binary =  0
 Decimal =  1  Binary =  1
 Decimal =  2  Binary =  10
 Decimal =  3  Binary =  11
 Decimal =  4  Binary =  100
 Decimal =  5  Binary =  101
 Decimal =  6  Binary =  110
 Decimal =  7  Binary =  111
 Decimal =  8  Binary =  1000
 Decimal =  9  Binary =  1001

In [44]:
stk.reverse()
stk

[10, 20, 30]

In [45]:
stk[::-1]

[30, 20, 10]

In [37]:
stk

[30, 20, 10]

In [110]:
# 10 a function toBinary(n) to convert a decimal number into binary number using recurrsion.

def ToBinR(n):
    if n>1:
        ToBinR(n//2)
    print(n%2,end="")

In [111]:
ToBinR(3)

11

In [93]:
stk

[1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1]

In [94]:
stk=[]

In [1]:
def toBinary(n):
    if n > 1:
        toBinary(n//2)
    print(n % 2,end = '')

In [2]:
toBinary(4)

100

In [8]:
toBinary(10)

1010

In [9]:
toDec(10)

i =  0 c[i] =  1
i =  1 c[i] =  0
6

In [117]:
# Program to convert Binary to Decimal

def BinarytoDecimal(num):
    length = len(str(num))
    numstr = str(num)
    numstr = numstr[::-1]
    y = 0
    for i in range(length):
        if (int(numstr[i]) != 0):
            y += 2 ** i 
    return (y)

In [91]:
BinarytoDecimal(1000), BinarytoDecimal(0),BinarytoDecimal(101),BinarytoDecimal(111),BinarytoDecimal(1011101)

(8, 0, 5, 7, 93)

In [126]:
BinarytoDecimal(10100101)

165

In [125]:
BinarytoDecimal(1100100)

100

In [128]:
for i in range(10,100,10):
    print("Binary = ", toBinary(i) , " Decimal = ", i)

Binary =  1010  Decimal =  10
Binary =  10100  Decimal =  20
Binary =  11110  Decimal =  30
Binary =  101000  Decimal =  40
Binary =  110010  Decimal =  50
Binary =  111100  Decimal =  60
Binary =  1000110  Decimal =  70
Binary =  1010000  Decimal =  80
Binary =  1011010  Decimal =  90

In [133]:
for i in [1010,10100,111100,1011010]:
    print(BinarytoDecimal(i))

10
20
60
90

In [141]:
#11. myMap funtion to duplicate Python map function - input 2 parameters, funtion and the container object

def myMap(fun,container):
    a = container
    newa = []
    for i in a:
        newa.append(fun(i))
    return(newa)

In [142]:
A = [1,2,3,4]
fun = lambda x: x+2
myMap(fun,A)

[3, 4, 5, 6]

In [144]:
fun = lambda x : (x,x**2)
myMap(fun,A)

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [15]:
#12. myReduce function to replicate Python reduce function

def myReduce(fun,container):
    a = container
    reduced = 0
    
    for i in range(len(a)):
        reduced = fun(reduced,a[i]) 
    return(reduced)

In [20]:
A = [1,2,33,22,11,5]
myReduce(lambda x,y:x if x>y else y, A)

33

In [24]:
A = [10,2,33,22,11,5]
myReduce(lambda x,y:x+y,A)

83

In [6]:
#13.myFilter function

def myFilter(fun,container):
    A = container
    newA = []
    for i in A:
        if fun(i):
            newA.append(i)
    return newA

In [7]:
A = [10,2,33,22,11,5]
myFilter(lambda x: x%2==0, A)

[10, 2, 22]

In [11]:
#14 List Comprehensions to produce 3 simple lists
#(a) [1,2,3,4,5,6,7,8,9,10]

a = [x for x in range (1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#b  [1,3,5,7,9,11,13,15,17,19]
[x for x in range(20) if x%2 !=0 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [88]:
#c [1, 6, 11, 16, 21, 26, 31, 36, 41, 46]
#[print(a) for i in range(1,20) a = 1, b = a+5 ]
a = 1
for i in range(10):
    print(a, end= ' ')
    a = a + 5

1 6 11 16 21 26 31 36 41 46

In [89]:
a = 1
[x for x in range(1,50,5) ]

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]

In [73]:
nonprimes = set(j for i in range(2,8) for j in range(i*2,50,i))
#we use set comprehensions here as set has unique values

In [74]:
print(nonprimes, end=" ")
len(nonprimes)

{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49}

33

In [75]:
#to find list of prime numbers between 2 and 50 using list comprehensions

primes = [x for x in range(2,50) if x not in nonprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [72]:
#nonprimes is a list containing duplicate values
nonprimes = [j for i in range(2,8) for j in range(i*2,50,i)]
print(nonprimes, end=" ")
len(nonprimes)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 14, 21, 28, 35, 42, 49]

70

In [76]:
# to find a transpose of a matrix using list comprehenstions

mat = [ [1,2,3],
        [4,5,6],
        [7,8,9]
      ]
[[row[i] for row in mat] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [48]:
[ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 3) ] for row_idx in range(0, 3) ]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [55]:
matrix = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]
         ]
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [56]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [80]:
# using list comprehensions to remove all the vowels in a sentence

sentence = "Your mother has a hamster"
vowels = 'aeiou'
nonlist = []
newsentence = ""
for i in sentence:
    if i not in vowels:
        nonlist.append(i)
newsentence =  ''.join(nonlist)
newsentence

'Yr mthr hs  hmstr'

In [82]:
#now the program above using list comprehension
vowels = 'aeiou'
nonvowels = ''.join([l for l in sentence if l not in vowels])
nonvowels

'Yr mthr hs  hmstr'

In [83]:
# the same problem above using a generator comprehension - which is better use of memory
vowels = 'aeiou'
nonvowels = ''.join(l for l in sentence if l not in vowels)
nonvowels

'Yr mthr hs  hmstr'

In [104]:
#15 Write list comprehensions for following output
"""
a.['P', 'y', 't', 'h', 'o', 'n']
b.['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] 
c.['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']
d.[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
e.[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
f.[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)] """

#15.a
[x for x in 'python']
#15.b
[i*j for i in 'xyz' for j in range(1,5) ]
#15.c
[i*j*k for i in range(1,3) for j in range(1,3) for k in (['x','y','z']) ]
#15.d
[[x+y] for x in range(1,4) for y in range(1,4)]
#15.e
[[x+y for x in range(1,5)] for y in range(1,5)]
#15.f
[(x,y) for x in range(1,4) for y in range (1,4)]

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [107]:
#16 Dictionary comprehensions
#16.a
{i:i**3 for i in range(1,10)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [123]:
#16.b
s ='abcdef'
{x: x*(s.index(x)+1) for x in s}

{'a': 'a', 'b': 'bb', 'c': 'ccc', 'd': 'dddd', 'e': 'eeeee', 'f': 'ffffff'}

In [127]:
s.index('a'), s.index('c')

(0, 2)

In [139]:
#17. Write a function longestWord() that takes a list of words and returns the longest one.
# longestWord(['Apple','Apricot','Asparagus','Avocado'])
def longestWord(a):
    longLen =0
    word = ''
    wordLen = 0
    for i in a:
        wordLen = len(i)
        if wordLen > longLen:
            longLen = wordLen
            word = i
    return (word)

def smallestWord(a):
    word = a[0]
    wordLen = smallwordLen = len(a[0])
    for i in a:
        wordLen = len(i)
        if wordLen < smallwordLen:
            smallwordLen = wordLen
            word = i
    return(word)

In [141]:
longestWord(['Apple','Apricot','Asparagus','Avocado'])

'Asparagus'

In [144]:
smallestWord(['Apple','Apricot','kiwi','Asparagus','Avocado'])

'kiwi'

In [16]:
#18. Palindrome
def palindrome(word):
    import re
    a = re.sub('\W+','',word)
    a = a.lower()
    #print("Word is ",a , ' and its length is ',len(a))
    #a = word
    #trim word and remove all whitespaces,question marks, exclamation...just need to keep letters 
    mid = len(a)//2
    
    if len(a)%2==0:
        #if length of a is even
        if a[:mid]==a[mid:][::-1]:
            print('{}: is a Palindrome'.format(word))
        else:
            print('{}: is NOT a palindrome'.format(word))
    else:
        #if length of a is odd
        if a[:mid]==a[mid+1:][::-1]:
            print('{}: is a Palindrome'.format(word))
        else:
            print('{}: is NOT a palindrome'.format(word))

In [17]:
palindrome("A man, a plan, a canal, Panama!")

A man, a plan, a canal, Panama!: is a Palindrome

In [13]:
palindrome('malayalam')

Word is  malayalam  and its length is  9
malayalam: is a Palindrome

In [72]:
#19.A pangram is a sentence that contains all the letters of the English alphabetat least once. 
#example: "The quick brown fox jumps over the lazy dog".
#isPangram

def isPangram(sentence):
    temp = []
    alphabets = {'a':0,'b':0,'c':0,'d':0,'e':0,'f':0,'g':0,'h':0, 'i':0,'j':0,'k':0,'l':0,'m':0,'n':0,'o':0,'p':0,
                'q':0,'r':0,'s':0,'t':0,'u':0,'v':0,'w':0,'x':0,'y':0,'z':0}
    pureSentence = sentence.lower()
    #do a regular expression to remove all the other characters other than alphabets
    #assuming it is just alphabets in lower case
    
    for i in pureSentence:
        for j in alphabets:
            if (i == j):
                alphabets[j] += 1
    print(alphabets)

    temp = list(alphabets.values())
    x= True
    print(temp)
    i =0
    print(len(temp))
    
    while(i<len(temp)):
        if temp[i] == 0:
            x = False
            print("Is NOT a Pangram")
            break
        i +=1 

    return(x)

In [79]:
isPangram( "The quick brown fox jumps over the lazy dog")

{'d': 1, 's': 1, 'u': 2, 'e': 3, 'o': 4, 'a': 1, 't': 2, 'j': 1, 'z': 1, 'y': 1, 'p': 1, 'c': 1, 'x': 1, 'l': 1, 'g': 1, 'i': 1, 'w': 1, 'n': 1, 'k': 1, 'b': 1, 'v': 1, 'h': 2, 'q': 1, 'r': 2, 'm': 1, 'f': 1}
[1, 1, 2, 3, 4, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1]
26

True

In [82]:
isPangram('bcdefghijklmnopqrstuvwxyz')

{'d': 1, 's': 1, 'u': 1, 'e': 1, 'o': 1, 'a': 0, 't': 1, 'j': 1, 'z': 1, 'y': 1, 'p': 1, 'c': 1, 'x': 1, 'l': 1, 'g': 1, 'i': 1, 'w': 1, 'n': 1, 'k': 1, 'b': 1, 'v': 1, 'h': 1, 'q': 1, 'r': 1, 'm': 1, 'f': 1}
[1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
26
Is NOT a Pangram

False

In [135]:
#20. Write a function charFreq() that takes a string and creates a frequency listing of the characters contained in it using a dictionary object.
#charFreq("abcabcxyzxyzkkkmmmnnnsssqqqqkkaabbcc")


def charFreq(string):
    #alphabets = {'a':0,'b':0,'c':0,'d':0,'e':0,'f':0,'g':0,'h':0, 'i':0,'j':0,'k':0,'l':0,'m':0,'n':0,'o':0,'p':0,
     #         'q':0,'r':0,'s':0,'t':0,'u':0,'v':0,'w':0,'x':0,'y':0,'z':0} 
    alpha = "abcdefghijklmnopqrstuvwxyz"
    alphabets = {c:0 for c in alpha}
            
    for i in string:
        if i == ' ':
            continue 
        alphabets[i] +=1
    
    alp = sorted([x for x in alphabets if alphabets[x]!=0])
    print(alp)
    temp={}
    for i in alp:
        temp[i] = alphabets[i]
    print(temp)

In [137]:
charFreq("abcabcxyzxyzkkksmmmnnnqqqqkkaabbcc")

['a', 'b', 'c', 'k', 'm', 'n', 'q', 's', 'x', 'y', 'z']
{'a': 4, 'n': 3, 'k': 5, 'b': 4, 's': 1, 'y': 2, 'q': 4, 'z': 2, 'c': 4, 'm': 3, 'x': 2}

In [141]:
charFreq("fox is a lazy animal")

['a', 'f', 'i', 'l', 'm', 'n', 'o', 's', 'x', 'y', 'z']
{'a': 4, 'l': 2, 's': 1, 'z': 1, 'n': 1, 'y': 1, 'o': 1, 'i': 2, 'x': 1, 'm': 1, 'f': 1}

In [172]:
#21. Using random module, generate 10,000 numbers between 1 and 5. 
#Find the number for which largest numbers generated. 
#Also create a dictionary with key-values where value > 2000, using dictionary comprehensions.

import random
a = {}
d = {}
for i in range(1,6):
    a[i] = random.randint(1,10000)
print(a)
k = list(a.keys())
v = list(a.values())
x = k[v.index(max(v))]
print("Maximum generated is : ", x, "---->",a[x])
d = {x:y for x,y in a.items() if y >2000}
print(d)

{1: 4038, 2: 1062, 3: 7376, 4: 6098, 5: 5028}
Maximum generated is :  3 ----> 7376
{1: 4038, 3: 7376, 4: 6098, 5: 5028}